{% extends '_page.html.twig' %}

{% block title %}print{% endblock %}

{# this page is written in german #}

{% block content %}
    <div id="print" class="container-print table-responsive">
        <table class="table table-borderless">
            <thead>
            <tr class="bg-white p-2">
                <th>
                    {% block header %}
                        <header class="d-flex justify-content-between">
                            <div class="p-2">
                                <img src="/asset/image/company.png" width="auto" height="30px"
                                     class="d-inline-block align-top" alt="">
                            </div>

                            <div class="p-2 text-right">
                                {{ extra_data.author }}
                            </div>
                        </header>
                    {% endblock %}
                </th>
            </tr>
            </thead>

            <tbody>
            {% for entry in data.list|filter(entry => entry.content is not empty) %}
                <tr>
                    <td>
                        <div class="entry container border-bottom border-dark">
                            <div class="entry-headline mt-3">
                                <h3>
                                    {{ extra_data.week }} {{ '%03d'|format(loop.index) }}
                                </h3>

                                <small>{{ entry.datetimeFrom|date('d.m.Y') }}
                                    - {{ entry.datetimeTo|date('d.m.Y') }}</small>
                            </div>

                            <div class="entry-text px-2 my-3 preserve-line-break">{{ entry.content }}</div>

                            <div class="d-flex justify-content-around m-3">
                                {% for label in extra_data.signature %}
                                    <div class="p-2 w-25">
                                        <div class="bg-light border-bottom border-dark print-color-exact" style="height: 35px;">
                                        </div>
                                        <small class="signature-label form-text text-muted">{{ label }}</small>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr class="bg-white p-2">
                <td>
                    <div class="invisible-print">
                        {% block footer %}
                            <footer class="d-flex justify-content-between">
                                <div class="p-2">
                                    {{ extra_data.information }}
                                </div>

                                {#
                                {% for label in extra_data.signature %}
                                    <div class="p-2 w-25">
                                        <div class="bg-light border-bottom border-dark print-color-exact" style="height: 35px;">
                                        </div>
                                        <small class="signature-label form-text text-muted">{{ label }}</small>
                                    </div>
                                {% endfor %}
                                #}

                                <div class="p-2">
                                    &nbsp;
                                </div>
                            </footer>
                        {% endblock %}
                    </div>

                    <div class="d-none d-print-block fixed-bottom bg-white p-2">
                        {{ block('footer') }}
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
