{% extends 'page.html.twig' %}

{% block title %}delete entry{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <h1>delete entry</h1>

                    <div class="flex-shrink-0">
                        <a class="btn btn-sm btn-secondary" href="{{ url_for('entry.index') }}">
                            back
                        </a>

                        <a class="btn btn-sm btn-info" href="{{ url_for('entry.view', {
                            'id': data.entry.id,
                        }) }}">
                            view
                        </a>

                        <a class="btn btn-sm btn-primary" href="{{ url_for('entry.edit', {
                            'id': data.entry.id,
                        }) }}">
                            edit
                        </a>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        an error has occurred
                    </div>
                {% endif %}

                <form method="post" action="">
                    <input type="hidden" name="entry[id]" value="{{ data.entry.id }}">
                    <input type="hidden" name="entry[datetime_from]"
                           value="{{ data.entry.datetimeFrom|date('Y-m-d') }}">
                    <input type="hidden" name="entry[datetime_to]" value="{{ data.entry.datetimeFrom|date('Y-m-d') }}">
                    <input type="hidden" name="entry[content]" value="{{ data.entry.content }}">
                    <input type="hidden" name="entry[issue]" value="{{ data.entry.issue }}">

                    <fieldset disabled>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="formControlFromDateTime">from datetime</label>
                                <input id="formControlFromDateTime" class="form-control" type="date"
                                       name="entry[datetime_from]" value="{{ data.entry.datetimeFrom|date('Y-m-d') }}">
                            </div>
                            <div class="col form-group">
                                <label for="formControlToDateTime">to datetime</label>
                                <input id="formControlToDateTime" class="form-control" type="date"
                                       name="entry[datetime_to]"
                                       value="{{ data.entry.datetimeTo|date('Y-m-d') }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="formInputContent">content</label>
                            <textarea id="formInputContent" class="form-control" name="entry[content]"
                                      placeholder="content">{{ data.entry.content }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="formControlIssue">issue</label>
                            <input id="formControlIssue" class="form-control" type="text" name="entry[issue]"
                                   value="{{ data.entry.issue }}" placeholder="issue">
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <div class="form-check">
                            <input id="formControlConfirm" class="form-check-input" type="checkbox" name="confirm"
                                   value="1" aria-describedby="formControlConfirmHelp">
                            <label for="formControlConfirm" class="form-check-label">
                                confirm
                            </label>
                            <small id="formControlConfirmHelp" class="form-text text-muted">(data will be lost)</small>
                        </div>
                    </div>

                    <button class="btn btn-danger" type="submit" name="submit">
                        delete
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
