{% extends 'page.html.twig' %}

{% block title %}view entry{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <h1>view entry</h1>

                    <div class="flex-shrink-0">
                        <a class="btn btn-sm btn-secondary" href="{{ url_for('entry.index') }}">
                            back
                        </a>

                        <a class="btn btn-sm btn-primary" href="{{ url_for('entry.edit', {
                            'id': data.entry.id,
                        }) }}">
                            edit
                        </a>

                        <a class="btn btn-sm btn-danger" href="{{ url_for('entry.delete', {
                            'id': data.entry.id,
                        }) }}">
                            delete
                        </a>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        an error has occurred
                    </div>
                {% endif %}

                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="w-25">field</th>
                        <th scope="col">value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">id</th>
                        <td>{{ data.entry.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">from datetime</th>
                        <td>{{ data.entry.datetimeFrom|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">to datetime</th>
                        <td>{{ data.entry.datetimeTo|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">content</th>
                        <td>
                            <div class="pre-scrollable preserve-line-break">{{ data.entry.content }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">issue</th>
                        <td>{{ data.entry.issue }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
